<h1>Edit <%= @movie.title %></h1>

<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Poster (paper_clip gem'i yüklendikten sonra düzenlenecek" %><br>
    <%= f.text_field :poster %>
  </div>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :genre_id %><br>
    <%= f.select(:genre_id) do %>
      <%= options_from_collection_for_select(Genre.all, :id, :name) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :directors %><br>
    <% @people.each do |person| %>
      <%= check_box_tag 'director_ids[]', person.id, (@movie.director_ids.include? person.id) ? true : false %>
      <%= f.label person.name %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :actors %><br>
    <% @people.each do |person| %>
      <%= check_box_tag 'actor_ids[]', person.id, (@movie.actor_ids.include? person.id) ? true : false %>
      <%= f.label person.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', movie_path(@movie) %>
